/*  Jeffrey Phelps - DU Web Dev Bootcamp 2017/2018 - Mod 14 Homework (Burger Builder)   */

body{
  background: url('../images/burgerBG.png');
  font-family: 'Coiny', cursive, serif;
  font-size: 16px;
}

.card{
  padding: 2px;
}

